#header {
    height:50px;
    background: #2c4262; 
    color : #fff;
}
#branding h1 {
    color : #fff;
}
#a:link,
a:visited {
    color: #2c4262
}
div.brandcrumbs {
    background: #30caa3;
    color: #2c4262;
}
div.brandcrumbs a{
    color : #333;
}

.module h2,
.module caption,
.inlinegroup h2 {
    background: #30caa3
}

.button,
input[type="submit"],
input[type="button"],
.submitrow input,
a.button{
    background: #2c4262;
    color: #fff;
}